html
  head
    script(src='/javascripts/timer.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Aladin|Coming+Soon|Cookie|Covered+By+Your+Grace|Crafty+Girls|Lobster|Patrick+Hand|Rochester|Share+Tech+Mono|Sue+Ellen+Francisco|VT323')
    .timer-body
        
//- how to make timer countdown? javascript, of course.
//- can do all of that on the client
//- what libraries use counters?
