body {
  background-color: #379634;
}

.timer-body {
  border: 1px solid black;
  color: #0A3200;
  font-family: 'Lobster', cursive;
  font-size: 120px;
  margin-top: 225px;
  margin-left: 450px;
  position: absolute;
  vertical-align: center;
}
